#background{
    background-image:url(./assets/background.png);
    width: 1200px;
    height:640px;
   
}
#hero{
    background-image: url(./assets/hero.png);
    width: 50px;
    height: 50px;
    position: absolute;
    left:550px;
    top:570px;
}
#enemies{
    height:auto;
    width: 1200px;
    /* border: 1px solid red; */
}
.enemy{
    background-image: url(./assets/enemy.png);
    width:50px;
    height: 50px;
    position: absolute;
    /* top:100px;
    left:550px; */
}
.missile{
    background-image: url(./assets/missile1.png);
    width:10px;
    height:27px;
    position: absolute;
}

#missiles{
    height: auto;
    width:1200px;
}
.result{
    color:white;
    font-size: 20px;
}